<html>

<head>
<title>{{ title }}</title>

   <link rel="stylesheet" href="css/reset.css">

<style>
.outer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-around;
  min-width: 400px;
  max-width: 1000px;
}
.main-container {
  min-width: 400px;
  max-width: 1000px;
}
.title {
  font-size: 30px;
}
body {
  background-color: #f0e0ee;
}
{% block style %}
{% endblock %}
</style>

</head>

<body>

<div class="outer-body">

<header class=header-container>
  <img src="img/bici-uc-logo-header.png"/>
  <div class="title">BiciUC</div>
  <div>&nbsp;</div>
  <div>
    t
    i
    f
  </div>
  <div>Join</div>
</header>

&nbsp;

<main class="main-container">
{% block main %}{% endblock %}
</main>

</div>

</body>

</html>
