---
lang: en
url:
  en: /en/signup/
  es: /es/suscribir/
text:
  explanation:
    en: Sign up for the BiciUC newsletter. We expect to send fewer than 1 email per week.
    es: Suscribirse al boletin BiciUC. Esperamos mandar menos que 1 email por semana.
  name:
    en: Name
    es: Nombre
  email:
    en: Email
    es: Email
  phone:
    en: Phone #
    es: Telefono
  submit:
    en: Submit
    es: Acceptar
---
{% extends 'base.njk' %}

{% block style %}
{% endblock %}

{% block main %}
{{ text.explanation[lang] }}

<form name=subscribe method=POST action="/action/subscribe">

<input type=hidden name="lang" value="{{ lang }}" />

<p>
{{ text.name[lang] }}: <input name="name"/>
</p>

<p>
{{ text.email[lang] }}: <input name="email"/>
</p>

<p>
{{ text.phone[lang] }}: <input name="phone"/>
</p>

<input type="submit" value="{{ text.submit[lang] }}" />

</form>
{% endblock %}
