{% extends 'base.njk' %}

{% block style %}
{% endblock %}

{% block main %}
{{ explanation }}

<form name=subscribe method=POST action="/action/subscribe">

<input type=hidden name="lang" value="{{ lang }}" />

<p>
{{ label_name }}: <input name="name"/>
</p>

<p>
{{ label_email }}: <input name="email"/>
</p>

<p>
{{ label_phone }}: <input name="phone"/>
</p>

<input type="submit" value="{{ text_submit }}" />

</form>
{% endblock %}

