---
lang: en
url:
  en: /en/signup/
  es: /es/suscribir/
text:
  explanation:
    en: Sign up for the BiciUC newsletter. We expect to send fewer than 1 email per week.
    es: Suscribirse al boletin BiciUC. Esperamos mandar menos que 1 email por semana.
  name:
    en: Name
    es: Nombre
  email:
    en: Email
    es: Email
  phone:
    en: Phone #
    es: Telefono
  submit:
    en: Submit
    es: Acceptar
---
{% extends 'base.njk' %}

{% block style %}
td.signup-label {
  width: 5em;
}
td.signup-field {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
input.signup-field {
  width: 13em;
}

div.subscribe-row {
  display: flex;
}

{% endblock %}

{% block main %}

<div class="subscribe-row">
<div>
<p>
{{ text.explanation[lang] }}
</p>

<form name=subscribe method=POST action="/action/subscribe">

<input type=hidden name="lang" value="{{ lang }}" />

<table>

<tr>
<td class="signup-label">
{{ text.name[lang] }}:
</td>
<td class="signup-field">
<input name="name" class="signup-field"/>
</td>
</tr>

<tr>
<td class="signup-label">
{{ text.email[lang] }}:
</td>
<td class="signup-field">
<input name="email" class="signup-field"/>
</td>
</tr>

<tr>
<td class="signup-label">
{{ text.phone[lang] }}:
</td>
<td class="signup-field">
<input name="phone" class="signup-field"/>
</td>
</tr>

<tr>
<td colspan=2 align=right>
<input type="submit" value="{{ text.submit[lang] }}" />
</td>
</tr>

</table>

</form>
</div>

<img src="/img/central_and_17.jpg"/>

</div>

{% endblock %}
