---
lang: es
translation: /en/signup/
explanation: Suscribirse al boletin BiciUC. Esperamos mandar menos que 1 email por semana.
label_name: Nombre
label_email: Email
label_phone: Telefono
text_submit: Acceptar
---
{% extends 'signup.njk' %}
