{% extends 'base.njk' %}
{% block style %}
.title {
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.column-container {
  display: flex;
}
.center-line {
  border-left: 3px solid #000000;
  width: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
.lang-column {
  width: 50%;
}
{% endblock %}

{% block main %}
<img width="100%" src="img/biciuc_twitter_1500x500.jpg"/>

<div class="title">BiciUC</div>

<hr/>
<div class="column-container" width=600>

<div class="lang-column">
  <div class="section">
    Let’s get organized to make cycling and walking safer and more enjoyable for the
    people of Union City, NJ
    <br/>
    <a href="en/signup">Sign up for the newsletter</a>
  </div>
</div>

<div class="center-line"></div>

<div class="lang-column">
  <div class="section">
    Organicémonos para hacer que el ciclismo sea más seguro y agradable para
    la gente de Union City, NJ
    <br/>
    <a href="es/suscribir">Suscribirse al boletin</a>
  </div>
</div>

</div>
<hr/>
{% endblock %}
